@page
@model IndexModel
@{

    ViewData["Title"] = "Calculator";
}
<link rel="stylesheet" href="~/css/StandardCalc.css" id="standard-style"/>
<link rel="stylesheet" href="~/css/site.css" id="core-style"/>
<link rel="stylesheet" href="~/css/scientificCalc.css" id="scientific-style" disabled/>
<link rel="stylesheet" href="~/css/ProgrammingCalc.css" id="programming-style" disabled/>
<link rel="stylesheet" href="~/css/UnitCalc.css" id="unit-style" disabled/>

<div id="functional-container"> <!-- Container for all functional elements pertaining to calculator -->
    <div id="calc-select"> <!-- Divider for containing calculator options-->
        <a href="#"><button class="calc-button" id="standard" href="#">Standard</button></a>
        <a href="#"><button class="calc-button" id="scientific" href="/ScientificCalc">Scientific</button></a>
        <a href="#"><button class="calc-button" id="equation" href="/EquationSolver">Equation</button></a>
        <a href="#"><button class="calc-button" id="programming" href="/Programmingcalc">Programming</button></a>
        <a href="#"><button class="calc-button" id="unit" href="/MassConverter">Unit</button></a>
        <!-- More calculator buttons here -->
    </div>
    <div class="calc-holder">
        <!-- Calculator contents go here,
        would likely need to be adjusted using JS
        depending on selected calculator -->
        <div id="calc-display-back"> <!-- For use in bg styling only -->
            <input id="calc-display">
        </div>
        <div class="calc-interface">
            <!-- First Row buttons  -->
            <button class="calc-button-white">(</button>
            <button class="calc-button-white">)</button>
            <button class="calc-button-white">AC</button>
            <button class="calc-button-white">del</button>
            <!-- Second Row buttons  -->
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button class="calc-button-op">÷</button>
            <!-- Third Row buttons  -->
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button class="calc-button-op">×</button>
            <!-- Fourth Row buttons  -->
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button class="calc-button-op">-</button>
            <!-- Fifth Row buttons  -->
            <button class="calc-button-white">.</button>
            <button>0</button>
            <button class="calc-button-white">=</button>
            <button class="calc-button-op">+</button>
        </div>
    </div>
    <div id="hist-select"> <!-- Divider for containing history of all operations-->
        <button class="clear-hist">Clear All History</button>
    </div>
</div>
