@page
@model IndexModel
@{
    ViewData["Title"] = "Student Friendly Calculator";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We are in the beam.</p>
</div>

<div id="testdiv">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro quibusdam illo exercitationem aliquid aut sequi maiores fugiat totam perferendis voluptas quos blanditiis cupiditate possimus quod dolor distinctio, veniam ipsam reprehenderit?</p>
</div>
