@page
@model IndexModel
@{
    
    ViewData["Title"] = "Home page";
}

<div id="functional-container"> <!-- Container for all functional elements pertaining to calculator -->
    <div id="calc-select"> <!-- Divider for containing calculator options-->
        <button class="calc-button" id="standard" href="#">Standard</button>
        <button class="calc-button" id="scientific" href="#">Scientific</button>
        <button class="calc-button" id="programming" href="#">Programming</button>
        <button class="calc-button" id="unit" href="#">Unit Conversion</button>
        <button class="calc-button" id="input-bar" href="#">Input</button>
        <!-- More calculator buttons here -->
    </div>
    <div id="calc-holder">
        <p>Add calculator here</p>
        <!-- Calculator contents go here,
        would likely need to be adjusted using JS
        depending on selected calculator -->
    </div>
    <div id="hist-select"> <!-- Divider for containing history of all operations-->
        <div class="hist-option">
            <a class="hist-result" href="#">5</a> <!-- Import result of calculation into current bar of calculator, acting like a number button -->
            <p class="hist-operation">3 + 2</p>
            <a href="#">Standard</a> <!-- Optimally, there would be a button present here to switch to the calculator that the operation was completed in -->
            <!-- etc, etc...-->
        </div>
    </div>
</div

<!-- DEMONSTRATION CONTENT -->
<!-- Basic template code that came from  -->
@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<!-- DEMONSTRATION CONTENT -->
<!-- Simple input box for demonstration purposes -->
<div> 
    <h2>Enter Equation</h2>
    <input type="text" id="CalcSubmission" placeholder="10 x 5" />
    <!--Button press triggers submitName function-->
    <button onclick="calcSubmission()">Submit</button>

    <p id="calcResponse"></p>
</div>

<!-- DEMONSTRATION CONTENT -->
<!-- JS for displaying name from input box. -->
<script>
    // This handles math expression submission
    function calcSubmission() {
        const expr = document.getElementById("CalcSubmission").value;

        fetch("/Index?handler=CalcSubmission", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ name: expr })
        })
        .then(res => res.json())
        .then(data => {
            if (data.result !== undefined) {
                document.getElementById("calcResponse").innerText = `Result: ${data.result}`;
            } else {
                document.getElementById("calcResponse").innerText = `Error: ${data.error}`;
            }
        });
    }
</script>
