@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>StudentFriendlyCalculator stores no user information server-side; all history data is stored locally on the user's device.
    <br>Calculations are performed server-side using NCalc; only operational data inputted into the calculator is sent.
</p>
