@page
@model IndexModel
@{
    ViewData["Title"] = "Calculator";
}
<link rel="stylesheet" href="~/css/ProgrammingCalc.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div id="functional-container">
    <!-- Container for all functional elements pertaining to calculator -->
    <div id="calc-select">
        <a href="#"><button class="calc-button" id="standard" href="#">Standard</button></a>
        <a href="#"><button class="calc-button" id="scientific" href="#">Scientific</button></a>
        <a href="#"><button class="calc-button" id="programming" href="#">Programming</button></a>
        <a href="#"><button class="calc-button" id="equation" href="#">Equation</button></a>
        <a href="#"><button class="calc-button" id="unit" href="#">Unit</button></a>
    </div>
    <div class="calc-holder">
        <div id="calc-display-back">
            <input id="calc-display">
        </div>
        <div class="calc-interface">
            <button class="calc-button-white">(</button>
            <button class="calc-button-white">)</button>
            <button class="calc-button-white">AC</button>
            <button class="calc-button-white">del</button>

            <button class="calc-button-btwn">A</button>
            <button class="calc-button-btwn">B</button>
            <button class="calc-button-btwn">C</button>
            <button class="calc-button-btwn">Dec</button>
            
            <button class="calc-button-btwn">D</button>
            <button class="calc-button-btwn">E</button>
            <button class="calc-button-btwn">F</button>
            <button class="calc-button-btwn">Hex</button>

            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button class="calc-button-op">AND</button>

            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button class="calc-button-op">OR</button>
            
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button class="calc-button-op">NOR</button>

            <button class="calc-button-white">bin</button>
            <button>0</button>
            <button class="calc-button-white" id="double-size">=</button>
            <button class="calc-button-op">XOR</button>
            
        </div>
    </div>
    <div id="hist-select">
        <!-- Divider for containing history of all operations-->
        <button id="clear-hist">Clear History</button>
    </div>
</div>