/* Core CSS, imported from ASP.NET defaults */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#testdiv {
  background-color: #0077cc;
  width: 400px;
  margin: 0 auto;
}

/* All functional elements of main page styling */

#functional-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  width: 100%;
}

/* Calculator selection tab */

#calc-select { /* Left bar for selection */
  background-color: #b7b7b7;
}

#calc-select > button {
  padding: 10px;
  margin: 5px;
  border: none;
  display: inline-block;
  width: 96%;
  text-align: right;
}

/* Calculator tab */

#calc-holder { /* Middle area for calculator holder */
  background-color: #ffdab7;
}

/* History tab */

#hist-select { /* Right bar for history */
  background-color: #b7b7b7;
}