html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#testdiv {
  background-color: #0077cc;
  width: 400px;
  margin: 0 auto;
}

/* All functional elements of main page styling */

#functional-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  width: 100%;
}

/* Calculator selection tab */

#calc-select { /* Left bar for selection */
  background-color: #b7b7b7;
  border-radius: 10px;
}

#calc-select > button {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ff881a;
  display: inline-block;
  background-color: #dfdfdf;
  width: 96%;
  text-align: right;
  border-radius: 10px;
}

/* Calculator tab */

#calc-holder { /* Middle area for calculator holder */
  background-color: #ffdab7;
}

/* History tab */

#hist-select { /* Right bar for history */
  background-color: #b7b7b7;
  border-radius: 10px;
}

.hist-option {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  border: 1px solid #ff881a;
  background-color: #dfdfdf;
}

.hist-result {
  font-size: 2em;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  color: rgb(0, 0, 0);
  background-color: #dfdfdf;
}

.hist-operation {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
  color: rgb(89, 89, 89);
}